{% if ludus_jenkins_docker_cloud_enabled %}
jenkins:
  clouds:
    - docker:
        name: "docker"
        dockerApi:
          dockerHost:
            uri: "tcp://docker:2375"
        templates:
          - labelString: "{{ ludus_jenkins_docker_agent_label }}"
            dockerTemplateBase:
              image: "{{ ludus_jenkins_docker_agent_image }}"
            remoteFs: "/home/jenkins/agent"
            instanceCapStr: "10"
            retentionStrategy:
              idleMinutes: 5
            connector:
              attach:
                user: "jenkins"
{% endif %}
