{% if ludus_jenkins_docker_cloud_enabled or (ludus_jenkins_static_agents | default([]) | length > 0) %}
jenkins:
{% if ludus_jenkins_static_agents | default([]) | length > 0 %}
  nodes:
{% for agent in ludus_jenkins_static_agents %}
    - permanent:
        name: "{{ agent.name }}"
        labelString: "{{ agent.labels | default('') }}"
        remoteFS: '{{ agent.remote_fs | default("/home/jenkins/agent") }}'
        numExecutors: {{ agent.executors | default(1) }}
        mode: NORMAL
        retentionStrategy: "always"
        launcher:
          inbound:
            workDirSettings:
              disabled: false
              failIfWorkDirIsMissing: false
              internalDir: "remoting"
{% endfor %}
{% endif %}
{% if ludus_jenkins_docker_cloud_enabled %}
  clouds:
    - docker:
        name: "docker"
        dockerApi:
          dockerHost:
            uri: "tcp://docker:2375"
        templates:
          - labelString: "{{ ludus_jenkins_docker_agent_label }}"
            dockerTemplateBase:
              image: "{{ ludus_jenkins_docker_agent_image }}"
            remoteFs: "/home/jenkins/agent"
            instanceCapStr: "10"
            retentionStrategy:
              idleMinutes: 5
            connector:
              attach:
                user: "jenkins"
{% endif %}
{% endif %}
